@import '../../theme/includes';

.slideContainer {
    width: 100%;

    h4 {
        font-weight: var(--weight-light);
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
        color: var(--ion-color-white);

        @include r(ML) {
            font-size: 14px;
        }

        @include r(MS) {
            font-size: 12px;
        }
    }
}
