.actionButtons {
    ion-button {
        height: 56px;
        --box-shadow: 4px -5px 32px rgba(0, 0, 0, 0.75);
        --border-radius: 10px;
        color: white;
        font-size: 16px;
        font-weight: var(--weight-light);
    
        --background: rgba(237, 95, 180, 0.5);
        --background-hover: rgba(237, 95, 180, 0.3);
        --background-hover: rgba(237, 95, 180, 0.3);
        --background-active: rgba(237, 95, 180, 0.3);
        --background-focused: rgba(237, 95, 180, 0.3);
        --background-activated: rgba(237, 95, 180, 0.3);
    
        ion-icon {
            margin-right: 10px;
        }
    }
}