ion-item {
    --background: transparent;
    color: white;

    h2 {
        color: white !important;
    }

    p {
        font-size: 12px;
        color: #a1a1a1!important;
    }

    &.modalItem {
        ion-img {
            box-shadow: 4px -5px 32px rgba(0, 0, 0, 0.75);
        }

        h2 {
            color: #000 !important;
        }

        p {
            color: #696969!important;
        }
    }

    ion-checkbox {
        --background: white;
        --background-checked: rgba(237, 95, 180, 0.5);
    }
}