.customToolbar {
	border: none;
	background: transparent;
	margin-top: 18px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10px;
	--border-width: 0 !important;

	img {
		width: 95px;
	}

	ion-item {
		--background: transparent;
		--background-hover: var(--ion-color-white);
		border-radius: 6px;
	}

    .menuDropdown {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    
        span {
            font-size: 11px;
            font-weight: var(--weight-light);
            color: white;
        }
    
        img {
            width: 33px;
            height: 33px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

.menuDropdownContainer {
	width: 212px;
	height: -moz-fit-content;
	height: fit-content;
	padding: 24px 22px;
	background: rgba(var(--ion-color-black-rgb), 0.64);
	position: absolute;
	z-index: 9999;
	right: 20px;
	top: 65px;
	border-radius: 29px;
	display: flex;
	flex-direction: column;
	gap: 14px;
	backdrop-filter: blur(10px);

	a {
		display: block;
		font-weight: var(--weight-light);
		font-size: 15px;
		position: relative;
		text-align: right;
		color: var(--ion-color-white);
		cursor: pointer;
	}

	a::after {
		content: '';
		width: 45px;
		height: 1px;
		background: rgba(var(--ion-color-white-rgb), 0.37);
		position: absolute;
		display: block;
		right: 0;
		bottom: -1px;
	}

	.upgradeContainer {
		background: #ffffff3d;
		border-radius: 9px;
		padding: 8px 9px;

		p {
			font-size: 13px;
			color: #cfcfcf;
			text-align: center;
			
			span {
				font-weight: bold;
				color: white;
				display: block;
				font-size: 14px;
			}
		}
	}
}