@import '../../theme/includes';

.customToolbar {
	border: none;
	background: transparent;
	margin-top: 20px;
	height: 50px;
	padding: 0 10px;
	--border-width: 0 !important;

	ion-back-button {
		--color: var(--ion-color-white);
	}

	&.blackTheme {
		ion-back-button {
			--color: black;
		}
	}

	ion-title {
		/* 2 thằng này trông hợp lý nhưng khi dùng thì gặp vấn đề 
			margin-left: 15px;
			width: fit-content; 
		*/
		font-size: 18px;

		@include r(MD) {
			font-size: 15px;
			width: fit-content;
		}

		@include r(MS) {
			width: 100%;
		}
	}
}