@import '../../theme/includes';

.container {
    width: 100%;
    
    .choiceTitle {
        font-size: 1.125rem;
        font-weight: var(--weight-bold);
        text-align: center;
        color: var(--ion-color-white);
        padding: 0.8rem 0;
    }
    
    .contentContainer {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .col {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .row {
            min-height: 1.8rem;
        }

        .label {
            font-size: 0.9375rem;
            font-weight: var(--weight-light);
            color: var(--ion-color-white);
            margin-right: 3px;

            @include r(MD) {
                font-size: 14px;
            }
        }

        .value {
            font-size: 0.9375rem;
            font-weight: var(--weight-medium);
            color: var(--ion-color-white);
            text-transform: capitalize;

            @include r(MD) {
                font-size: 14px;
            }
        }
    }
}
