@import '../../theme/includes';

.container {
    ion-skeleton-text {
        // --border-radius: 9999px;
        --background: white;
        --background-rgb: 255, 255, 255;
    }
    
    ion-list {
        width: 100%;
        background: transparent!important;
        // background: var(--ion-item-background, var(--ion-background-color, #fff));
    }
}
